*{
	margin: 0;
    padding: 0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}
/* content */
.signup{
    width: 100%;
    background-color: #f1f1f1;
}
.signup-top{
display: flex;
}

.signup-top a, .signup-top i{
padding: 10px;
text-decoration: none;
color: black;
}
.signup-top i{
margin-top: 3px;
}   

.signup-bottom{
    display: flex;
    flex-direction: column;
    /* justify-content: center ; */
    background-color:white;
    width: 90%;
    margin: 5px auto;
    padding: 0 25% 50px 25%;
}

.sign-up-header{
    font-size: 50px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}


/* footer */
.footer{
    width: 100%;
    height: 350px;
    background-color:#212121;
}
.top-footer, .top-footer-left, .top-footer-right, .top-footer-left-icon, .top-footer-right-signup,.info{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.top-footer-left-logo, .top-footer-left-description, .top-footer-left-icon{
    margin-top: 15px;
}
.top-footer-left, .top-footer-right{
    width: 50%;
    flex-direction: column;
    color: white;
}
.top-footer{
    padding: 30px;
}
.top-footer-left-description h3{
    font-size: 20px;
}
.top-footer-left-icon i{
    font-size: 50px;
    margin: 10px;
}
.top-footer-right{
    padding-left: 250px;
}
.top-footer-right-signup{
    align-items: baseline;
}
.top-footer-right-header h2{
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}
.top-footer-right-signup{
    flex-direction: column;
}
.info{
    align-items: unset;
}
.info i{
    margin-right: 10px;
    /* margin-bottom: 40px; */
    margin-top: 5px;
}


.form-2{
    padding: 0 5% 0 35%;
}


